/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

::selection {
    /*change color of the selected text with color:*/
    background: #1F8A70;
  }

html {
    scroll-behavior: smooth;
}

body {
    
    background: #1A1A22;
    color: #fff; /*text color*/
}
#header {
    width: 100%;
    height: 100vh;
    /*background-image: url(images/background2.png);*/
    background-size: cover;
    background-position: center;
}
.container {
    max-width: 1170px; 
    margin: auto; 
    padding: 20px 2%; /*top and bottom 10px, left and right 10%*/
    /*max-width: 1200px;
    width: 100%;
    padding: 0 20px;*/
}

nav {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    flex-wrap: wrap;
}

.logo {
    width: 100px;
    height: 100px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none; /*remove underline*/
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -7px;
    transition: width 0.5s ease; /* Add transition for easing out */
}

nav ul li a:hover::after {
    width: 100%;
    transition: 0.5s;
}
.header-text {
    margin-top: 12%;
    font-size: 30px;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span {
    color: #e10047;
}

h3 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
}

.intro {
    line-height: 40px;
    font-size: 24px;
}

strong {
    color: #ff004f;
}

.animation-container {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

@keyframes fadeCycle {
    0% { clip-path: inset(0 0 0 0); opacity: 1; } /* Fully visible */
    20% { clip-path: inset(0 0 0 0); opacity: 1; } /* Stay fully visible */
    40% { clip-path: inset(0 50% 0 0); opacity: 0; } /* Start fading out */
    60% { clip-path: inset(0 50% 0 0); opacity: 0; } /* Fully hidden */
    70% { clip-path: inset(0 50% 0 0); opacity: 0; } /* Stay hidden */
    80% { clip-path: inset(0 0 0 0); opacity: 1; } /* Start fading in */
    100% { clip-path: inset(0 0 0 0); opacity: 1; } /* Fully visible */
}

#description {
    display: inline-block;
    opacity: 1;
    transition: opacity 1.5s ease-in-out; /*transition duration (match with the timeout duration in HTML)*/
}

.fade-out {
    animation: fadeOut 1.5s forwards; /*5s is the duration of the animation*/
}

.fade-in {
    animation: fadeIn 1.5s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
    100% {
        opacity: 0;
        clip-path: inset(0 100% 0 0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        clip-path: inset(0 100% 0 0);
    }
    100% {
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
}


/*project section*/

.card {
    width: 400px;
    height: 600px;
    background-color: #1A1A22;

}

.columns {
    display: flex; /*get all the divs in a row*/
    justify-content: space-between; /*space between the divs*/
    flex-wrap: wrap; /*if the screen is small, wrap the divs*/
}


/*portfolio section*/

#portfolio {
    padding: 50px 0; /*top and bottom 50px, left and right 0*/
    display: flex;
    justify-content: center; /* Center the portfolio section horizontally */
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-gap: 20px; /* space between the divs */
    margin-top: 50px;
    justify-content: space-evenly;
    background-color: #1A1A22;
}

.work {
    width: 350px;
    height: 525px;
    border-radius: 10px; /* rounded corners */
    position: relative;
    overflow: hidden;
    background-color: #1A1A22;
    border-style: solid;
    border-color: #424A57;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s; /* Only transition box-shadow */
}

.work img {
    display: hidden;
    width: 100%;
    height: 55%;
    border-radius: 10px 10px 0 0; /* rounded corners for the top */
    display: block;
    object-fit: cover; /* Ensure the image covers the container without distortion */
}

.work-content {
    padding: 20px;
    /*outline-style: solid;*/
    /*outline-color: #424A57;*/
    background-color: #1A1A22;
}

.work-content h3 {
    margin: 0 0 10px;
    text-align: left;
    font-size: 1.5em;
    color: white;
}

.tags-container {
    padding-top: 5px;
    display: flex;
    flex-wrap: wrap; /* Allow tags to wrap to the next line */
    gap: 10px; /* Add space between tags */
}

.tag {
    display: inline-block;
    background: #ff004f;
    color: #fff;
    padding: 5px 10px; /* Adjust padding to make the box smaller */
    border-radius: 5px;
    font-size: 14px;;
}

.work h3 {
    margin: 0 0 10px;
    font-size: 1.5em;
}

.work p {
    margin: 0;
    color: #666;
}

.work:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Only change box-shadow on hover */
}

.layer {
    width: 100%;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    /*transition: background 0.5s;*/
}

.btn:hover {
    background: #ff004f;
}











/*about section*/
#about {
    padding: 80px 0; /*top and bottom 80px, left and right 0*/
    color: #ababab; /*text color*/
}

.row {
    display: flex; /*get all the divs in a row*/
    justify-content: space-between; /*space between the divs*/
    flex-wrap: wrap; /*if the screen is small, wrap the divs*/
}

.about-col-1 {
    flex-basis: 35%; /*35% of the row*/
}

.about-col-1 img {
    width: 100%; 
    border-radius: 15px; /*rounded corners*/
}

.about-col-2 {
    flex-basis: 60%; /*60% of the row*/
}

.sub-title {
    font-size: 40px;
    font-weight: 600;
    color:#fff;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px; /*top 20px, bottom 0, left and right 40px from bottom*/
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #b54769;
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/*services section*/

#services {
    padding: 30px 0; /*top and bottom 30px, left and right 0*/
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /*minimum 250px, maximum 1fr*/
    grid-gap: 40px; /*space between the divs*/
    margin-top: 50px;
}

.services-list div {
    background: #262626; /*background color*/
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px; /*rounded corners*/
    transition: background 0.5s, transform 0.5s;
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover {
    background: #ff004f;
    transform: translateY(-10px);
}


/*contact section*/

.contact-left {
    flex-basis: 60%; /*35% of the row*/
}

.contact-right {
    flex-basis: 35%; /*60% of the row*/
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #ff004f;
    transform: translateY(-5px);
}

.btn.btn2 {
    display: inline-block;
    background: #ff004f;
}

.contact-right form {
    width: 100%;
}

form input, form textarea {
    width: 100%;
    padding: 15px 15px;
    margin: 10px;
    border: 0;
    outline: none;
    background: #262626;
    color: #fff;
    font-size: 18px;
    border-radius: 6px; /*when you drag the icon to make the message bigger, it amkes the contact msg disappear*/
    resize: vertical;
}

form .btn2 {
    padding: 15px 60px;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 18px;
    cursor: pointer;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

/* Footer */
footer {
    bottom: 0;
    margin-top: 50px;
    padding-bottom: 50px;
    font-size: 14px;
    text-align: center;
    letter-spacing: 2px;
}


/*css for small screens*/

nav .fa-solid {
    display: none;
}

@media only screen and (max-width: 600px) {
    .logo {
        width: 50px;
        height: 50px;
    }
    
    .header-text {
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1 {
        font-size: 30px;
    }

    nav .fa-solid {
        display: block;
        font-size: 25px;
    }

    nav ul {
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px; /*move to the right side and become hidden*/
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px;
        text-align: center;
    }

    nav ul .fa-solid {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .sub-title {
        font-size: 40px;
    }
    .about-col-1, .about-col-2 {
        flex-basis: 100%;
    }

    .about-col-1 {
        margin-bottom: 30px;
    }

    .about-col-2 {
        font-size: 14px;
    }

    .tab-links {
        font-size: 16px;
        margin-right: 20px;
    }

    .contact-left, .contact-right {
        flex-basis: 100%;
    }

    .copyright {
        font-size: 14px;
    }

}