/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

::selection {
    /*change color of the selected text with color:*/
    background: #1F8A70;
  }

html {
    background: #1A1A22;
    scroll-behavior: smooth;
    overflow-x: hidden; /* Prevent horizontal overflow */
}

body {
    background: #1A1A22; /* Background color */
    color: #fff; /* Text color */
    overflow-x: hidden; /* Prevent horizontal scrolling */
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    margin-top: 10%;
    overflow: hidden;
}

/* Webkit Browsers (Chrome, Safari, Edge) */
body::-webkit-scrollbar {
    display: none; /* Completely hide the scrollbar */
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    80% {
        opacity: 1;
    }
}

#header {
    width: 100%;
    height: 85vh;
    background-size: cover;
    background-position: center;
}
.container {
    max-width: 1170px; 
    margin: auto; 
    padding: 20px 2%; /*top and bottom 10px, left and right 10%*/
    /*max-width: 1200px;
    width: 100%;
    padding: 0 20px;*/
}
/*
nav {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    flex-wrap: wrap;
    transition: top 0.3s;
    z-index: 1000; /*z-index is used to stack elements on top of each other
}
*/

/* Navbar styles */
#navbar {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Add padding to the navbar */
    flex-wrap: wrap;
    position: fixed; /* Fix the navbar to the top of the screen */
    top: 0;
    right: 0;
    width: 100%;
    background: linear-gradient(180deg, rgba(26, 26, 34, 0.8), rgba(26, 26, 34, 0)); /* Transparent gradient background */
    transition: top 0.5s;
    z-index: 1000; /* Ensure the navbar is above other content */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

#navbar .container2 {
    max-width: 1170px; /* Set a maximum width for the container */
    width: 100%;
    margin: 0 auto; /* Center the container */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar.hidden {
    top: -100px; /* Adjust this value based on the height of your navbar */
}

.logo {
    width: 80px;
    height: 80px;
    margin-right: auto;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none; /* Remove underline */
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -7px;
    transition: width 0.5s ease; /* Add transition for easing out */
}

nav ul li a:hover::after {
    width: 100%;
    transition: width 0.5s ease;
}
.header-text {
    font-size: 30px;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span {
    color: #e10047;
}

h3 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
}

.intro {
    line-height: 40px;
    font-size: 24px;
}

strong {
    color: #ff004f;
}

.animation-container {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

@keyframes fadeCycle {
    0% { clip-path: inset(0 0 0 0); opacity: 1; } /* Fully visible */
    20% { clip-path: inset(0 0 0 0); opacity: 1; } /* Stay fully visible */
    40% { clip-path: inset(0 50% 0 0); opacity: 0; } /* Start fading out */
    60% { clip-path: inset(0 50% 0 0); opacity: 0; } /* Fully hidden */
    70% { clip-path: inset(0 50% 0 0); opacity: 0; } /* Stay hidden */
    80% { clip-path: inset(0 0 0 0); opacity: 1; } /* Start fading in */
    100% { clip-path: inset(0 0 0 0); opacity: 1; } /* Fully visible */
}

#description {
    display: inline-block;
    opacity: 1;
    transition: opacity 1.5s ease-in-out; /*transition duration (match with the timeout duration in HTML)*/
}

.fade-out {
    animation: fadeOut 1.5s forwards; /*5s is the duration of the animation*/
}

.fade-in {
    animation: fadeIn 1.5s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
    100% {
        opacity: 0;
        clip-path: inset(0 100% 0 0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        clip-path: inset(0 100% 0 0);
    }
    100% {
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
}


/*project section*/

.card {
    width: 400px;
    height: 600px;
    background-color: #1A1A22;

}

.columns {
    display: flex; /*get all the divs in a row*/
    justify-content: space-between; /*space between the divs*/
    flex-wrap: wrap; /*if the screen is small, wrap the divs*/
}


/*portfolio section*/

#portfolio {
    padding: 50px 0; /*top and bottom 50px, left and right 0*/
    display: flex;
    justify-content: center; /* Center the portfolio section horizontally */
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-gap: 20px; /* space between the divs */
    margin-top: 50px;
    justify-content: space-evenly;
    background-color: #1A1A22;
}

.work-list a {
    text-decoration: none;
}

.work {
    width: 350px;
    height: 525px;
    border-radius: 10px; /* rounded corners */
    position: relative;
    overflow: hidden;
    background-color: #1A1A22;
    border-style: solid;
    border-color: #424A57;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transition for transform and box-shadow */
}

.work:hover {
    transform: translateY(-10px); /* Translate up on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
}

.work img {
    display: hidden;
    width: 100%;
    height: 55%;
    border-radius: 10px 10px 0 0; /* rounded corners for the top */
    display: block;
    object-fit: cover; /* Ensure the image covers the container without distortion */
    filter: grayscale(50%); /* Apply grayscale filter */
    transition: transform 0.5s, filter 0.5s; /* Add transition for filter */
}

.work:hover img {
    transform: scale(1.1);
    filter: grayscale(10%); /* Remove grayscale filter on hover */
}

.work-content {
    padding: 20px;
    background-color: #1A1A22;
}

.work-content h3 {
    margin: 0 0 10px;
    text-align: left;
    font-size: 1.5em;
    color: white;
}

.tags-container {
    padding-top: 5px;
    display: flex;
    flex-wrap: wrap; /* Allow tags to wrap to the next line */
    gap: 10px; /* Add space between tags */
}

.tag {
    display: inline-block;
    background: #ff004f;
    color: #fff;
    padding: 5px 10px; /* Adjust padding to make the box smaller */
    border-radius: 5px;
    font-size: 14px;;
}

.work h3 {
    margin: 0 0 10px;
    font-size: 1.5em;
}

.work p {
    margin: 0;
    color: #666;
}

.layer {
    width: 100%;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    /*transition: background 0.5s;*/
}

.btn:hover {
    background: #ff004f;
}

.row {
    display: flex; /*get all the divs in a row*/
    justify-content: space-between; /*space between the divs*/
    flex-wrap: wrap; /*if the screen is small, wrap the divs*/
}


.sub-title {
    font-size: 40px;
    font-weight: 600;
    color:#fff;
}




/*contact section*/

.contact-left {
    flex-basis: 60%; /*35% of the row*/
}

.contact-right {
    flex-basis: 35%; /*60% of the row*/
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
    min-height: 100px;
}

.social-icons a {
    text-decoration: none;
    font-size: 36px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #ff004f;
    transform: translateY(-5px);
}

.btn.btn2 {
    display: inline-block;
    background: #ff004f;
}

.contact-right form {
    width: 100%;
    display: flex;
    flex-direction: column; /* Ensure the form elements are in a column layout */
    align-items: flex-start; /* Align items to the left */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

form input, form textarea {
    width: calc(100% - 30px); /* Adjust width to account for padding */
    padding: 15px;
    margin: 10px 0; /* Adjust margin to avoid horizontal spacing */
    border: 0;
    outline: none;
    background: #262626;
    color: #fff;
    font-size: 18px;
    border-radius: 6px; /*when you drag the icon to make the message bigger, it makes the contact msg disappear*/
    resize: vertical;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

form .btn2 {
    width: calc(100% - 30px); /* Adjust width to account for padding */
    padding: 15px;
    margin: 10px 0; /* Ensure the margin matches the input fields */
    font-size: 18px; /* Ensure the font size matches the input fields */
    cursor: pointer;
    background: #ff004f; /* Button background color */
    color: #fff; /* Button text color */
    border: none; /* Remove default border */
    border-radius: 6px; /* Ensure the border radius matches the input fields */
    text-align: center;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

form input, form textarea {
    letter-spacing: 1px;
}

form button {
    width: calc(100% - 30px); /* Adjust width to account for padding */
    padding: 15px;
    text-align: center;
    letter-spacing: 1px;
}

/* Footer */
footer {
    bottom: 0;
    margin-top: 150px;
    padding-bottom: 50px;
    font-size: 14px;
    text-align: center;
    letter-spacing: 2px;
}


/*css for about.html webpage*/

.name {
    font-size: 30px;
}

.name h1 {
    font-size: 60px;
    margin-top: 20px;
}

.about-text {
    line-height: 40px;
    font-size: 18px;
}

#about-section {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap on smaller screens */
    justify-content: space-between; /* Space items evenly */
    align-items: center; /* Center items vertically */
    gap: 20px; /* Add space between items */
}

.debut {
    flex-basis: 45%; /*60% of the row*/
}

.picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 45%; /*35% of the row*/
}

.picture img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.picture p {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.debut p {
    margin-top: 50px;
}

.debut p i {
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}

.picture {
    margin-top: 20px;
}

.picture p {
    color: #BBBBBD;
}






.about-col-2 {
    flex-basis: 60%; /*60% of the row*/
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color:#fff;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px; /*top 20px, bottom 0, left and right 40px from bottom*/
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #b54769;
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}




.heading {
    display: flex; /* Enable flexbox */
    justify-content: space-between; /* Space out content (title and button) */
    align-items: flex-start; /* Align items at the top initially */
    padding: 10px 20px; /* Add padding for spacing */
}

.project-title {
    margin-top: 0; /* Remove unnecessary margin from the container */
}

.project-title h1 {
    font-size: 30px;
    margin: 0; /* Remove top margin to avoid unnecessary spacing */
}

.project-title h1 span {
    font-size: 45px;
    color: #ff004f;
}

.view {
    padding: 10px 20px; /* Button padding */
    font-size: 16px;
    /* background-color: #007bff; Button background color */
    background-color: #ff004f;
    color: white; /* Button text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    align-self: center; /* Center button vertically within its flex container */
    margin-top: 30px; /* Add vertical space from the top */
    margin-right: 60px;
}

.view:hover {
    /*background-color: #0056b3;  Darker color on hover */
    background-color: #db0045;
}





.project-description {
    margin-top: 45px;
    line-height: 40px;
    font-size: 18px;
}

.project-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ensure the container takes full width */
    margin: 0 auto; /* Center the container itself */
}

.project-image img {
    width: 60%;
    display:inline-block;
    object-fit: cover;
    border-radius: 10px;
    margin: 40px 0;
    min-width: 520px;
}

.project-overview {
    margin-top: 35px;
    line-height: 40px;
}

.project-overview h2 {
    color: #ff004f;
    font-size: 30px;
    margin-bottom: 20px;
}

.collapsible-item h2 {
    margin-top: 20px;
}

.project-overview p {
    font-size: 18px;
    margin-bottom: 40px;
}

.project-features {
    margin-top: 25px;
    line-height: 40px;
    padding-bottom: 50px; 
}


.project-features h3 {
    font-size: 20px;
}

code {
    font-family: 'Courier New', monospace;
    color: white;
    font-weight: 500;
    background-color: #282835;
    border-radius: 5px;
    padding: 5px;
    margin: 0 6px;
    font-size: 105%;
}

.project-features ul {
    margin-top: 15px;
    text-indent: 1%;
    list-style: disc inside;
}

.project-features p {
    margin-top: 0;
    margin-bottom: 0;
}

.collapsible-list {
    width: 100%;
    display: flex;
    flex-direction: column;
}



/* First button in the list */
.collapsible:first-child {
    border-style: solid;
    border-color: #424A57;
    border-width: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
  
  /* Last button in the list */
.collapsible:last-of-type {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #1A1A22;
    border-style: solid;
    border-color: #424A57;
    border-width: 2px;
    border-top: none;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out; /* Add transition for background color */
    display: flex; /* Enable flexbox */
    align-items: center; /* Vertically align the text and arrow */
}


.collapsible.active {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

  
.collapsible:hover {
    background-color: #ff004f;
}


.collapsible:before {
    content: ''; /* Set empty content for the image */
    background-image: url('images/right-arrow.png'); /* Path to your image */
    background-size: contain; /* Scale the image to fit */
    background-repeat: no-repeat; /* Prevent image repetition */
    width: 25px;
    height: 25px;
    filter: invert(1); /* Optional, to invert the image color */
    margin-right: 10px; /* Space between the image and text */
    transition: transform 0.3s ease-in-out; /* Smooth transition for rotation */
}

/* When collapsible is active, rotate the arrow by 90 degrees */
.collapsible.active:before {
    transform: rotate(90deg); /* Rotate 90 degrees clockwise */
}


.expand {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #1A1A22;
}

.expand.active {
    border-style: solid;
    border-color: #424A57;
    border-top: none;
}


.no-bullet-point {
    list-style: none;
    text-indent: 3%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}
/*
li { 
    padding-left: 2em; 
}
*/

ul ul ul,
ul ul {
    margin-left: 20px; /* Maintain indentation for nested lists */
}

ul ul ul li {
    list-style-type: square; /* Apply square bullets to the deepest nested list */
}

ul ul li {
    list-style-type: circle; /* Apply circle bullets to second-level nested lists */
}


/* for figma embed code */
iframe {
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.project-image video {
    width: 50%;
    display:inline-block;
    object-fit: cover;
    border-radius: 10px;
    margin: 40px 0;
    min-width: 520px;
}

.project-image video {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    object-fit: contain;
}

/* Progress bar container */
.progress-bar {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px; /* Width of the bar */
    height: 0; /* Initially no height */
    background-color: #ff004f; /* Progress color */
    transition: height 0.2s ease; /* Smooth fill effect */
    z-index: 9999; /* Ensure it stays on top */
}

/* Media Queries */


/*css for small screens*/

nav .fa-solid {
    display: none;
}
@media only screen and (max-width: 600px) {
    .logo {
        width: 50px;
        height: 50px;
        position: relative;
    }

    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%; /* Full width */
        z-index: 1000; /* Ensure it's above other content */
    }

    nav ul {
        flex-direction: row; /* Stack items vertically */
        align-items: flex-start; /* Align items to the left */
        padding-left: 20px;
    }

    nav ul li {
        margin: 10px 0;
        text-align: left; /* Align text to the left */
    }

    nav ul li a {
        font-size: 16px; /* Adjust font size for small screens */
        padding: 10px;
    }

    nav ul li a::after {
        width: 0; /* Remove underline effect */
        transition: none; /* Remove transition effect */
        content: none; /* Remove the line */
    }

    .header-text {
        margin-top: 40%;
        font-size: 16px;
    }

    .header-text h1 {
        font-size: 36px;
    }

    .fade {
        min-height: 110px; /* Set a minimum height between the next text below*/
    }

    .intro {
        font-size: 16px;
        line-height: 30px;
    }

    h3 {
        font-size: 18px;
    }

    #projects .sub-title {
        margin-top: 70px;
    }

    .sub-title {
        font-size: 40px;
    }

    .work {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 450px; /* Allow the height to adjust based on content */
        transition: none; /* Remove transition */
        transform: none;
    }

    .work img {
        height: auto; /* Adjust based on the parent's width */
        max-height: 50%; /* Ensure the image does not exceed 55% of the container's height */
        width: 100%; /* Maintain full width */
        object-fit: cover; /* Prevent distortion */
        overflow-x: hidden;
        overflow-y: hidden;
        filter: grayscale(30%);
        transition: none;
        transform: none;
    }

    .work:hover {
        transform: none; /* Remove hover transform */
        box-shadow: none; /* Remove hover shadow */
    }

    .work:hover img {
        transform: none; /* Remove hover transform */
        filter: grayscale(30%); /* Keep grayscale consistent */
    }


    .work-content {
        flex: 1;
        padding: 20px;
        padding-bottom: 10px; /* Reduce padding at the bottom */
        transition: none;
        transform: none;
        translate: none;
    }

    .work a {
        transition: none;
        transform: none;
        translate: none;
    }

    .tags-container {
        padding-top: 5px;
        display: flex;
        flex-wrap: wrap; /* Allow tags to wrap to the next line */
        gap: 5px; /* Reduce space between tags */
    }

    .tag {
        padding: 3px 8px; /* Reduce padding for smaller screens */
        margin: 1px 1px;
        font-size: 14px; /* Reduce font size for smaller screens */
    }

    .work-list {
        grid-template-columns: repeat(1, 1fr); /* Single column for small screens */
        transition: none;
        transform: none;
        translate: none;
    }

    .dimension {
        padding: 35px 0;
        display: none;
    }

    #projects .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 16px; /* Space between grid items */
    }

    .contact-left, .contact-right {
        flex-basis: 100%;
    }

    .contact-right form {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    form input, form textarea {
        width: 100%;
        padding: 12px 10px;
        margin: 7px auto;
        font-size: 16px;
    }

    form .btn2 {
        width: 100%;
        padding: 10px 40px;
        font-size: 16px;
    }

    .social-icons {
        display: flex;
        justify-content: center; /* Center the icons horizontally */
        align-items: center; /* Center the icons vertically */
        gap: 10px; /* Add space between the icons */
        margin: 10px 0;
    }
    
    .social-icons a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 36px;
        padding: 10px 0;
        text-decoration: none; /* Remove underline from links */
    }







    /*small screen css for about.html webpage*/

    .name {
        margin-top: 12%;
        font-size: 30px;
    }

    .name h1 {
        font-size: 40px;
        margin-top: 120px;
    }

    .about-text {
        flex-basis: 100%;
        line-height: 30px;
        font-size: 16px;
    }

    .debut { /*about-text with social icons*/
        flex-basis: 100%; /*60% of the row*/
    }

    .picture {
        flex-basis: 100%; /*35% of the row*/
    }

    .picture img {
        width: 100%;
        height: auto;
    }

    .debut p {
        margin-top: 50px;
    }

    .picture {
        margin-top: 20px;
    }



    footer {
        margin: 60px 20px 0 20px; /* Reduce margin for small screens */
        width: auto; /* Allow the width to adjust automatically */
        letter-spacing: 1px;
    }
}

/* Tablets (601px to 1024px) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .logo {
        width: 75px;
        height: 75px;
    }

    nav {
        display: flex; 
        justify-content: space-between;
        align-items: center;
        padding: 15px;
    }

    nav ul {
        position: relative;
        top: 0;
        right: 0;
        width: auto;
        height: auto;
        background: none;
        display: flex;
        gap: 20px; /* Add spacing between menu items */
    }

    nav ul li {
        margin: 0 10px;
        text-align: left;
    }

    .fade {
        min-height: 145px; /* Set a minimum height between the next text below*/
    }

    h3 {
        font-size: 20px;
    }

    #header {
        height: 80vh;
    }

    #projects {
        margin: 0;
        padding: 0;
    }

    .intro {
        font-size: 16px;
        line-height: 28px;
    }

    .header-text {
        margin-top: 20%;
        font-size: 18px;
    }

    .header-text h1 {
        font-size: 48px;
    }

    .work {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 350px;
    }

    .work img {
        height: auto; /* Adjust based on the parent's width */
        max-height: 50%; /* Ensure the image does not exceed 55% of the container's height */
        width: 100%; /* Maintain full width */
        object-fit: cover; /* Prevent distortion */
        overflow-x: hidden;
        overflow-y: hidden;
        overflow-clip-margin: content-box;
    }

    .work-content h3 {
        font-size: 20px;
    }

    .tags-container {
        padding-top: 5px;
        display: flex;
        flex-wrap: wrap; /* Allow tags to wrap to the next line */
        gap: 5px; /* Reduce space between tags */
    }

    .tag {
        padding: 3px 8px; /* Reduce padding for smaller screens */
        margin: 1px 1px;
        font-size: 14px; /* Reduce font size for smaller screens */
    }

    .work-list {
        grid-template-columns: repeat(2, 1fr); /* Two columns for tablets */
        grid-gap: 20px;
    }

    .work-content {
        flex: 1;
        padding: 20px;
        padding-bottom: 10px; /* Reduce padding at the bottom */
    }

    .dimension {
        padding: 35px 0;
        display: none;
    }

    .contact-left {
        margin-left: 20px;
    }


    .contact-left, .contact-right {
        flex-basis: 45%;
        min-height: 500px;
    }

    form input, form textarea {
        width: 90%;
    }


    form .btn2 {
        width: 90%;
    }

    .social-icons {
        gap: 15px;
        font-size: 28px;
        display: flex;
        justify-content: center;
    }

    .name {
        margin-top: 12%;
        font-size: 30px;
    }

    .name h1 {
        font-size: 40px;
        margin-top: 120px;
    }

    .about-text {
        flex-basis: 100%;
        line-height: 30px;
        font-size: 16px;
    }

    .debut { /*about-text with social icons*/
        flex-basis: 100%; /*60% of the row*/
    }

    .picture {
        flex-basis: 100%; /*35% of the row*/
    }

    .picture img {
        width: 100%;
        height: auto;
    }

    .debut p {
        margin-top: 50px;
    }

    .picture {
        margin-top: 20px;
    }

    



    footer {
        margin: 60px 40px 0 40px; /* Reduce margin for small screens */
        width: auto; /* Allow the width to adjust automatically */
        letter-spacing: 1px;
    }

    
}


/* Laptops and Small Desktops (1025px to 1440px) */
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    nav {
        padding: 20px;
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
        gap: 30px;
    }

    nav ul li {
        margin: 0;
        font-size: 18px;
    }

    .header-text {
        margin-top: 15%;
        font-size: 24px;
    }

    .header-text h1 {
        font-size: 48px;
    }

    .intro {
        margin-top: 1%;
        font-size: 20px;
        line-height: 36px;
    }

    .work {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 400px;
    }

    .work img {
        height: auto; /* Adjust based on the parent's width */
        max-height: 50%; /* Ensure the image does not exceed 55% of the container's height */
        width: 100%; /* Maintain full width */
        object-fit: cover; /* Prevent distortion */
        overflow-x: hidden;
        overflow-y: hidden;
        overflow-clip-margin: content-box;
    }

    .work-content h3 {
        font-size: 20px;
    }

    .tags-container {
        padding-top: 5px;
        display: flex;
        flex-wrap: wrap; /* Allow tags to wrap to the next line */
        gap: 5px; /* Reduce space between tags */
    }

    .tag {
        padding: 3px 8px; /* Reduce padding for smaller screens */
        margin: 1px 1px;
        font-size: 14px; /* Reduce font size for smaller screens */
    }

    .work-list {
        grid-template-columns: repeat(3, 1fr); /* Two columns for tablets */
        grid-gap: 20px;
    }
    

    .work-content {
        flex: 1;
        padding: 20px;
        padding-bottom: 10px; /* Reduce padding at the bottom */
    }

    .dimension {
        padding: 35px 0;
        display: none;
    }

    .contact-left, .contact-right {
        flex-basis: 45%;
    }

    form input, form textarea {
        width: 80%;
    }

    form .btn2 {
        width: 80%;
    }

    .social-icons {
        gap: 20px;
        font-size: 30px;
    }

    footer {
        margin: 30px 60px;
        font-size: 16px;
    }
}


